<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FoxOffice</title>

    <!--
    start : 2014-07-28 10:10 am
                                   _           ____   ___
      ___ __ _ _ __ _ __   ___  __| |_ __ ___ |___ \ / _ \
     / __/ _` | '__| '_ \ / _ \/ _` | '_ ` _ \  __) | | | |
    | (__ (_| | |  | |_) |  __/ (_| | | | | | |/ __/| |_| |
     \___\__,_|_|  | .__/ \___|\__,_|_| |_| |_|_____|\___/
                   |_|

    end  : 2014-??-??
    -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,greek' rel='stylesheet'>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.less' %}" rel="stylesheet/less" type="text/css">

    <script src="{% static 'js/d3.min.js' %}"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
  </head>

  <body>
    {% include 'navbar.html' %}

    <div id="main">
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
              <button class="close" onclick="$('.alert').hide();">×</button>
            </div>
          {% endfor %}
        {% endif %}

        {% block content %} {% endblock %}
      </div>
    </div>

    <footer>
      <div class="container">
        <div id="carpedm20">
          <p>Created by carpedm20</p>
        </div>
      </div>
    </footer>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.0/less.min.js"></script>
  </body>
</html>
