{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container">
  <br><br>
  <h1 class="header center orange-text">Starter Template</h1>
  <div class="row center">
    <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
  </div>
  <div class="row center">
    <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
  </div>
</div>
<div id="foxoffice"></div>

<div id="slider"> </div>
{% endblock %}
