{% extends "layout.html" %}

{% block sticker%}
<div class="container" style="width:90%;">

  <label>Movie information</label>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <img id="poster" src="https://avatars3.githubusercontent.com/u/3346407?v=3&s=460">
        </div>
        <div class="card-content center">
          <a id="naver-link" href="#" target="_blank">
            <span id="title">carpedm20</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <label>Genre</label>
    <br/>
    <br/>
    <a class="waves-effect waves-light genre btn">All</a>
    <a class="waves-effect waves-light genre btn">Romance</a>
    <a class="waves-effect waves-light genre btn">Action</a>
    <a class="waves-effect waves-light genre btn">Thriller</a>
    <a class="waves-effect waves-light genre btn">Comedy</a>
  </div>
  <label>Graph style</label>
  <form id="graph-style" action="#">
    <p>
      <input name="group1" type="radio" id="test1" checked/>
      <label for="test1">Wiggle</label>&nbsp;&nbsp;
      <input name="group1" type="radio" id="test2" />
      <label for="test2">Zero</label>
    </p>
  </form>
  <br/>
  <label>Graph theme</label>
  <div class="row">
    <div class="col m3">
      <a class="theme" id="teal" href=#">
        <p class="z-depth-3 shadow teal"></p>
      </a>
    </div>
    <div class="col m3">
      <a class="theme" id="lb" href=#">
        <p class="z-depth-3 shadow light-blue"></p>
      </a>
    </div>
    <div class="col m3">
      <a class="theme" id="lg" href=#">
        <p class="z-depth-3 shadow light-green"></p>
      </a>
    </div>
    <div class="col m3">
      <a class="theme" id="orange" href=#">
        <p class="z-depth-3 shadow orange"></p>
      </a>
    </div>
  </div>
  <div class="row center">
    <div class="fb-like" data-href="http://pail.unist.ac.kr/carpedm20/fox/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div id="fullpage">
  {% for year in years %}
  <div class="section">
    <h2 class="header center orange-text">{{year}}</h2>
    <div id="fox-{{year}}" class="foxoffice"></div>
  </div>
  {% endfor %}
</div>
{% endblock %}
