<!doctype html>
<!--
start : 2015-01-13 17:05
                               _           ____   ___
  ___ __ _ _ __ _ __   ___  __| |_ __ ___ |___ \ / _ \
 / __/ _` | '__| '_ \ / _ \/ _` | '_ ` _ \  __) | | | |
| (__ (_| | |  | |_) |  __/ (_| | | | | | |/ __/| |_| |
 \___\__,_|_|  | .__/ \___|\__,_|_| |_| |_|_____|\___/
               |_|

end  : 2015-??-??
-->
<html>
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="foxoffice,carpedm20,movie,visualization" >
  <meta name="description" content="History of box office" >
  <meta property="og:title" content="FoxOffice" />
  <meta property="og:url" content="http://pail.unist.ac.kr/carpedm20/fox/"/>
  <meta property="og:image" content="https://raw.githubusercontent.com/carpedm20/carpedm20.github.com/master/images/carpedm20.png"/>
  <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

  <title>FoxOffice</title>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="http://cdn.smtcs.rocks/md/md.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.fullpage/2.5.0/jquery.fullPage.min.css">
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body class="yir-generic">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=776839839027483&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
    <nav class="nav-bar">
      <div class="nav-wrapper">
        <div class="col s12">
          <a href="http://carpedm20.github.io/" class="brand-logo">carpedm20</a>
          <ul class="side-nav">
            <li><a href="./">Word2Vec</a></li>
            <li><a href="http://pail.unist.ac.kr:8080/">ReviewDuk</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="section">
        <h1 class="header center orange-text logo-text">FoxOffice</h1>
        <div class="row center text">
          <p class="col s12 light">A Data Visualization of Box Office History.<br/>"What was the famous movie in 2007?"</p>
        </div>
        <div class="row center">
          <p class="footnote">Streamgraph algorithm, colors, and data generation inspired by <a href="http://www.leebyron.com/else/streamgraph/">this paper</a></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="section">
        <h2 class="header center orange-text">How to read?</h2>
        <br/>
        <div class="container">
          <div class="col s6">
            <div class="card info-card blue-grey darken-1">
              <div class="card-content white-text center">
                <span class="card-title">The bigger, the better (Daily)</span>
                <div class="row center">
                  <img src="{{ url_for('static', filename='weight.png') }}" style="width: 80%;">
                </div>
              </div>
            </div>
          </div>
          <div class="col s6">
            <div class="card info-card blue-grey darken-1">
              <div class="card-content white-text center">
                <span class="card-title">The darker, the better (Yearly)</span>
                <div class="row"></div>
                <div class="col s12">
                  <img src="{{ url_for('static', filename='color.png') }}" style="width:80%">
                </div>
              </div>
            </div>
          </div>
          <div class="col s12">
            <div class="card">
              <div class="card-image">
                <img src="{{ url_for('static', filename='insight.png') }}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="base" class="col s2">
        <div id="sticker">
        {% block sticker %}{% endblock %}
        </div>
      </div>
      <div class="col s10">
        {% block content %}{% endblock %}
      </div>
    </div>

    <footer class="teal">
      <div class="container">
        <div class="row">
          <div class="col s9">
            <h5 class="white-text">About me</h5>
            <div class="row">
              <div class="col s3">
                <img class="z-depth-3" src="http://pail.unist.ac.kr:8080/static/img/TaehoonKim.jpg"></a>
              </div>
              <div class="col s9">
                <div class="about-me">
                  <p class="grey-text text-lighten-4">드라마 '유령'을 보고 해킹에 빠진 컴덕. 단순히 해커의 언어라는 이유로 파이썬을 시작했고 그렇게 파이썬이라는 나라가 허락한 유일한 마약에 빠져 파이뽕에 취해있다. 취미는 역시 해킹. 가끔 파이썬 라이브러리를 만들거나 영화를 감상한다. </p>
                  <a href="http://carpedm20.github.io" target="_blank" class="waves-effect waves-light green btn">Portfolio</a>
                  <a href="http://github.com/carpedm20" target="_blank" class="waves-effect waves-light cyan btn">Github</a>
                </div>
              </div>
            </div>
          </div>
          <div class="contact col s3">
            <h5 class="white-text">Contact</h5>
            <label class="white-text">carpedm20@gmail.com</label>
            <ul>
              <li><a class="white-text" href="http://twitter.com/carpedm20" target="_blank">Twitter</a></li>
              <li><a class="white-text" href="http://facebook.com/carpedm20" target="_blank">Facebook</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Created by <a class="orange-text lighten-3" href="http://carpedm20.github.io/">carpedm20</a>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="http://stickyjs.com/jquery.sticky.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.fullpage/2.5.0/jquery.fullPage.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script type="text/javascript" src="http://cdn.smtcs.rocks/md/md.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
