<!doctype html>
<!--
start : 2015-01-13 17:05
                               _           ____   ___
  ___ __ _ _ __ _ __   ___  __| |_ __ ___ |___ \ / _ \
 / __/ _` | '__| '_ \ / _ \/ _` | '_ ` _ \  __) | | | |
| (__ (_| | |  | |_) |  __/ (_| | | | | | |/ __/| |_| |
 \___\__,_|_|  | .__/ \___|\__,_|_| |_| |_|_____|\___/
               |_|

end  : 2015-??-??
-->
<html>
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="foxoffice,carpedm20,movie,visualization" >
  <meta name="description" content="History of box office" >
  <meta property="og:title" content="FoxOffice" />
  <meta property="og:url" content="http://pail.unist.ac.kr/carpedm20/fox/"/>
  <meta property="og:image" content="https://raw.githubusercontent.com/carpedm20/carpedm20.github.com/master/images/carpedm20.png"/>
  <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

  <title>FoxOffice</title>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="http://cdn.smtcs.rocks/md/md.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.fullpage/2.5.0/jquery.fullPage.min.css">
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body class="yir-generic">
    <nav class="nav-bar">
      <div class="nav-wrapper">
        <div class="col s12">
          <a href="#!" class="brand-logo">carpedm20</a>
          <ul class="side-nav">
            <li><a href="./">FoxOffice</a></li>
            <li><a href="./">Word2Vec</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="orange-text lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.fullpage/2.5.0/jquery.fullPage.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script type="text/javascript" src="http://cdn.smtcs.rocks/md/md.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
