{% extends "layout.html" %}

{% block css %}
.x.axis g text {
  fill: #34495e;
  font-weight: 600;
}
{% endblock %}

{% block navbar %}
<li><a href="/carpedm20/vox">VoxOffice</a></li>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='music.js') }}"></script>
{% endblock %}

{% block intro %}
<div class="row">
  <div class="section">
    <h1 class="header center indigo-text logo-text">VoxMusic</h1>
    <div class="row center text">
      <p class="col s12 light blue-grey-text">A Data Visualization of Music Chart History.<br/>"What was the famous music in 2007?"</p>
    </div>
    <div class="row center">
      <p class="footnote blue-grey-text">Streamgraph algorithm, colors, and data generation inspired by <b><a class="indigo-text" href="http://www.leebyron.com/else/streamgraph/" target="_blank">this paper</a></b></p>
      <p class="red-text accent-1">* View on Desktop, not on Mobile *</p>
      <a href="https://github.com/carpedm20/voxoffice" target="_blank" class="waves-effect waves-light indigo lighten-2 btn">Github</a>
      <p class="dark-grey accent-1"><b>Scroll down</b> to enjoy yourself :)</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="section">
    <h2 class="header center indigo-text">How to read?</h2>
    <br/>
    <div class="container">
      <div class="col s6">
        <div class="card info-card blue-grey darken-1">
          <div class="card-content white-text center">
            <span class="card-title">The bigger, the better (Daily)</span>
            <div class="row"></div>
            <div class="center">
              <img src="{{ url_for('static', filename='weight.png') }}" style="width: 80%;">
            </div>
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="card info-card blue-grey darken-1">
          <div class="card-content white-text center">
            <span class="card-title">The darker, the better (Yearly)</span>
            <div class="row"></div>
            <div class="col s12">
              <img src="{{ url_for('static', filename='color.png') }}" style="width:80%">
            </div>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="card">
          <div class="card-image">
            <img src="{{ url_for('static', filename='insight.png') }}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="section">
    <h2 class="header center indigo-text ko">그래프 읽는법</h2>
    <br/>
    <div class="container">
      <div class="col s6">
        <div class="card info-card blue-grey darken-1">
          <div class="card-content white-text center">
            <span class="card-title ko-title ko">두꺼울수록 인기가 있었던 영화 (하루 기준)</span>
            <div class="row"></div>
            <div class="center">
              <img src="{{ url_for('static', filename='weight_ko.png') }}" style="width: 80%;">
            </div>
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="card info-card blue-grey darken-1">
          <div class="card-content white-text center">
            <span class="card-title ko-title ko">진할수록 인기가 있었던 영화 (1년 기준)</span>
            <div class="row"></div>
            <div class="col s12">
              <img src="{{ url_for('static', filename='color_ko.png') }}" style="width:80%">
            </div>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="card">
          <div class="card-image">
            <img src="{{ url_for('static', filename='insight_ko.png') }}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block sticker%}
<div class="container" style="width:90%;">

  <label class="center">Information</label>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <a id="naver-link" href="#" target="_blank">
          <div class="card-image">
            <img id="poster" src="https://avatars3.githubusercontent.com/u/3346407?v=3&s=460">
          </div>
          <div class="card-content center blue-grey-text">
              <span id="title" class="ko">carpedm20</span>
          </div>
          <div class="card-action center blue-grey-text">
              <a id="artist" href='#' target="_blank" class="blue-grey-text">carpedm20</a>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <label>Genre</label>
    <br/>
    <br/>
    <a id="total" class="waves-effect waves-light genre btn music-genre-btn indigo">All</a>
    <a id="domestic" class="waves-effect waves-light genre btn music-genre-btn">Domestic</a>
    <a id="oversea" class="waves-effect waves-light genre btn music-genre-btn">Oversea</a>
  </div>
  <div class="row">
    <form id="graph-style" action="#">
      <label>Graph style</label>
      <p>
        <input name="group1" type="radio" id="test1" checked/>
        <label for="test1">Wiggle</label>&nbsp;&nbsp;
        <input name="group1" type="radio" id="test2" />
        <label for="test2">Zero</label>
      </p>
    </form>
  </div>
  <!--<div class="row no-bottom">
    <label>Graph theme</label>
    <div class="row no-bottom">
      <div class="col m3">
        <a class="waves-light theme" id="default">
          <p class="z-depth-3 shadow" style="background-color: rgb(21, 101, 148) !important;"></p>
        </a>
      </div>
      <div class="col m3">
        <a class="waves-light theme" id="teal">
          <p class="z-depth-3 shadow teal"></p>
        </a>
      </div>
      <div class="col m3">
        <a class="waves-light theme" id="cyan">
          <p class="z-depth-3 shadow cyan"></p>
        </a>
      </div>
      <div class="col m3">
        <a class="waves-light theme" id="bg">
          <p class="z-depth-3 shadow blue-grey"></p>
        </a>
      </div>
    </div>
  </div>-->
  <div class="row center">
    <div class="fb-like" data-href="http://pail.unist.ac.kr/carpedm20/vox/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div id="fullpage">
  {% for year in years %}
  <div class="section" id="mov-{{year}}">
    <h2 class="header center indigo-text ubuntu">{{year}}</h2>
    <div id="all-{{year}}" class="foxoffice">
      <div class="row center loading" width="1085" height="620">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"> </div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <!--<div class="section" id="peo-{{year}}">
    <h2 class="header center indigo-text ubuntu">Artist of {{year}}</h2>
    <div id="people-{{year}}" class="people">
      <div class="row center loading" width="1085" height="620">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"> </div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>-->
  {% endfor %}
</div>
{% endblock %}
