{% load staticfiles %}

<nav class="navbar navbar-fixed-top header">
  <div class="container">
    <div class="navbar-header">
      <a href="{% url 'core:index' %}" class="navbar-brand">FoxOffice</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">Home</a></li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>  
  </div>
</nav>

