{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% load staticfiles %}

{% block content %}

<div id="practice"></div>
<section id="section"></section>
<div id="barChart"></div>
<br/>
<svg class="chart"></svg>

<svg class="chart2"></svg>

<style>
#barChart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
.chart rect, .chart2 rect {
  fill: steelblue;
}

.chart text, .chart2 text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

</style>

<script>
  /******************************************************
     http://mbostock.github.com/d3/tutorial/circle.html
  ******************************************************/

  var width = 720;
  var height = 120;

  var minWidthHeight = Math.min(width, height);

  var practice = d3.select("#practice")
    .append("svg:svg")
    .attr("width", width)
    .attr("height", height);

  var data = [40, 80, 120];

  // "circle" : `selector` string
  // practice.selectAll(`selector`) : `selection`

  practice.selectAll("circle") // selection
    .data(data)
    .enter()
    .append("svg:circle")
    .attr("cx", function(d) { return d; })
    .attr("cy", height/2)
    .attr("r", minWidthHeight/12);

  var circle = d3.selectAll("circle");

  circle.style("fill", "steelblue");
  circle.attr("r", minWidthHeight/4);

  circle.attr("cx", function() { return Math.random() * width; });
  circle.attr("r", function(d) { return Math.sqrt(d); });
  circle.attr("cx", function(d, i) { return i * 100 + 30; });

  var circle = practice.selectAll("circle").data([40, 120]);
  circle.exit().remove();

  /******************************************************
     http://mbostock.github.com/d3/tutorial/bar-1.html
  ******************************************************/

  var data = [4, 8, 15, 16, 23, 42];

  var body = d3.select("body");
  var div = body.append("div");
  //div.html("Hello, world!");

  var section = d3.selectAll("#section");
  var div = section.append("div");
  div.html("Hello, world!!");

  body.style("color", "black");
  body.style("background-color", "white");

  d3.select("body")
    .style("color", "black")
    .style("background-color", "white");

  d3.selectAll("#section")
    .attr("class", "special")
    .append("div")
    .html("Hello World!!!")

  var section = d3.selectAll("#section");
  section.append("div").html("First!");
  section.append("div").html("Second.");

  var barChart = d3.select("#barChart");
  var height = 200;

  barChart.selectAll("div")
    .data(data)
    .enter().append("div")
    .style("width", function(d) { return d * 10 + "px"; })
    .text(function(d) { return d; });

  var x = d3.scale.linear()
    .domain([0, d3.max(data)])
    .range([0, width]);

  var y = d3.scale.linear()
    .domain([0, data.length])
    .range([0, height]);

  var barHeight = y(1);

  var chart = d3.select(".chart")
    .attr("width", width)
    .attr("height", barHeight * data.length);

  var bar = chart.selectAll("g")
    .data(data)
    .enter().append("g")
    .attr("transform", function(d, i) { return "translate(0," + y(i) + ")"; });

  bar.append("rect")
    .attr("width", x)
    .attr("height", barHeight - 1);

  bar.append("text")
    .attr("x", function(d) { return x(d) - 3; })
    .attr("y", barHeight / 2)
    .attr("dy", ".35em")
    .text(function(d) { return d; });


  height = 110;

  var x = d3.scale.linear()
    .range([0, width]);

  var y = d3.scale.linear()
    .range([0, height]);

  var chart = d3.select(".chart2")
    .attr("width", width);
  
  var tsvData = [];

  d3.tsv("/static/data/data.tsv", type, function(error, data) {
    var data = [
      {name: "Locke",    value:  4},
      {name: "Reyes",    value:  8},
      {name: "Ford",     value: 15},
      {name: "Jarrah",   value: 16},
      {name: "Shephard", value: 23},
      {name: "Kwon",     value: 42}
    ];

    x.domain([0, d3.max(data, function(d) { return d.value; })]);
    y.domain([0, data.length]);

    chart.attr("height", height);

    var barHeight = y(1);

    var bar = chart.selectAll("g")
      .data(data)
      .enter().append("g")
      .attr("transform", function(d, i) { return "translate(0, " + y(i) + ")"; });

    bar.append("rect")
      .attr("width", function(d) { return x(d.value); })
      .attr("height", barHeight - 1);

    bar.append("text")
      .attr("x", function(d) { return x(d.value) - 3; })
      .attr("y", barHeight/2)
      .attr("dy", ".35em")
      .text(function(d) { return d.value; });
  });

  function type(d) { 
    d.value = +d.value;
    return d;
  }

</script>

{% endblock %}
